{% extends "base.html" %}
{% block title %}Index Page{% endblock %}

{% block content %}

<div class="container">

<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">{{ editions[1].edition }} Edition</a></li>
  <li role="presentation"><a href="#">{{ editions[0].edition }} Edition</a></li>
  <li role="presentation"><a href="#">{{ editions[2].edition }} Edition</a></li>
</ul>
<hr>
{% for article_batch in articles|batch(3) %}
  <div class="mdl-grid">
    {% for article in article_batch  %}
      <div class="mdl-cell mdl-cell--4-col">

        <div class="demo-card-wide mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ article.webTitle }}</h2>
          </div>
          <div class="mdl-card__supporting-text">
            {{ article.webUrl }}
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a href="{{ article.webUrl }}"class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              Read More
            </a>
          </div>
        </div>

      </div>
    {% endfor %}
  </div>
{% endfor %}

</div>



  


{% endblock %}