{% extends "base.html" %}
{% block title %}Notizie Index Page{% endblock %}

{% block content %}



<div class="container"> 

  <div class="row sections">
    <div class="large-12 columns">
    </div>
  </div>

{% for article in articles %}

      <div class="row article">
        <div class="large-8 columns">
          <p><h2><a href="{{article.webUrl}}">{{ article.webTitle }}</a></h2></p>
          <hr/>
          <p><h4>{{ article.meta_description }}</h4></p>
        </div>
        <div class="large-4 columns">
          <img src="{{ article.image }}" width="300" height="275"/>
        </div>
      </div>

{% endfor %}



</div>


  


{% endblock %}