{% extends "base.html" %}
{% block title %}Notizie Index Page{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="small-6 medium-8 large-12 columns">
      <table id="articles">
        {% for article in articles %}
          <tr>
            <td>
              <img src="{{ article.iurl }}" width="250" height="250"/>
            </td>
            <td>
              <a href="{{ article.url }}"><h3>{{ article.title }}</h3></a>
              <span class="label">{{ article.domain }} | {{ article.date }}</span>
              <hr/>
              <h5><p>{{ article.kwic }}</p></h5>
            </td>
          </tr>
          {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
